{$DOMAIN} {
  encode zstd gzip

  request_body {
    max_size 10MB
  }

  header {
    Strict-Transport-Security "max-age=31536000; includeSubDomains"
    X-Frame-Options "DENY"
  }

  reverse_proxy app:8000 {
    health_uri /healthz
    flush_interval -1
  }
}
